<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.allergyalert">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllergyAlert">
        <activity
            android:name=".AccountRegister"
            android:exported="false" />
        <activity
            android:name=".AccountSignIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.checkproduct.ProductInformation"
            android:exported="true" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".ui.checkproduct.ScanProduct"
            android:exported="true" />
        <activity
            android:name=".ui.checkproduct.SearchProduct"
            android:exported="true" />
        <activity
            android:name=".ui.profiles.AddProfile"
            android:exported="true"
            android:theme="@style/Theme.AllergyAlert" />
        <activity
            android:name=".ui.profiles.ProfilesView"
            android:exported="true"
            android:theme="@style/Theme.AllergyAlert" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AllergyAlert.NoActionBar">
        </activity>
    </application>

</manifest>